
@keyframes wipe{
  0% { transform: translatey(-100px); }
    100% { transform: translatey(0px); }
}

.header, .nav {
    background-image: linear-gradient(to right, rgb(82, 82, 195), rgb(53, 36, 184));
    font-family: 'Inter';
    color: white;
    padding: 20px;
    font-weight: 900;
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.hamburger{
  font-size: 30px;
  margin-right: 50px;
  display: none;
  transition: color, font-size 0.3s ease;
}
.hamburger:hover,
.hamburger:focus {
  color: #ffea00;
  font-size: 35px;
}

html{
 width: 100%;
}
.home button {
    font-family: 'Inter';
  background-color: rgb(82 82 195);
    text-decoration: none;
  border-radius: 100px;
  padding:10px;
    border: none;
  color: white;
  transition: background-color, color 0.3s ease;
transition: font-size 0.3s ease
 
}
.home button a{
  text-decoration: none;
  color: inherit;
}
.home h1, #welcome{
  animation: wipe 2s ease-in-out;
}
.home button:hover{
  background-color: #ffea00;
  color: blue;
  font-size: 14px;
  
}
.h1 {
    font-weight: 900;
    font-size: 50px;
}

.Join {
    background-color: rgb(255, 255, 255);
    color: #2f00ff;
    text-decoration: none;
}

.home {
    background-image: url('https://i.ibb.co/DbPbwhG/National-Children-s-Day-Celebration-2024.png');
    background-size: cover;
    background-position: center;
    color: white;
    height: auto;
    margin-top: 0px;
    font-size: large;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
  text-align: center;
}

.body {
    font-family: 'Inter';
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  overflow-x: hidden;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 20px;
    max-width: 300px;
}


.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    transition: font-size 0.30s ease-in-out;
    position: relative;
}

.nav-links a:hover {
    color: #ffea00;
    font-size: 20px;
    transition: font size 0.30s ease-in-out;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffea00;
    transition: width 0.30s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.Theme-slot {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.themepic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.footer {
    background-image: linear-gradient(to right, rgb(82, 82, 195), rgb(21, 21, 115));
    color: white;
    font-family: 'Inter';
    padding: 20px;
    text-decoration: none;
    width: 100%;
}

.monththeme {
    font-family: 'Inter';
    font-weight: 900;
    text-align: center;
}

.form-group {
    width: 100%;
    max-width: 600px;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 4px;
}

.form-group input, .form-group textarea {
    width: 500px;
    height: auto;
}

.form-group button {
    padding: 10px 15px;
    background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(53, 36, 184));
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 800;
    font-family: 'Inter';
}

.month {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}

.Have-a-question {
    font-weight: 800;
}

.location {
    display: flex;
    padding-bottom: 30px;
}

.form-group {
    padding-left: 30px;
}

.form-head {
    padding-left: 30px;
}

.logohalf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
}

.foot-links {
    color: white;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 5px;
}

.foot-links:hover {
    color: #007bff;
}

.socials a {
    margin-right: 10px;
}

.socials a:last-child {
    margin-right: 0;
}

.cookie-consent {
    background-image: linear-gradient(to right, rgb(85, 85, 195), rgb(85, 85, 195));
    color: white;
    padding: 20px;
    position: relative;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: 120px;
    overflow: hidden;
}

.cookie-consent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    z-index: 1;
}

.cookie-consent p {
    position: relative;
    z-index: 2;
}

.cookie-consent button {
    background-color: #ffea00;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-family: 'Inter';
    transition: background-color 0.6s ease;
}
.services{
  text-decoration: none;
  line-height:10px
}
.TOTM{
  line-height:10px;
}
.services h1{
  font-weight: 900;
  text-align: center;
  font-size: 30px
}
.services iframe{
  display: block;
  margin: auto;
  border-radius: 10px;
}
.services hr{
  margin-left: 90px;
  margin-right: 90px;
}
.services #sub{
  text-align: center;
  font-weight; 900;
}
.cookie-consent button:hover {
    background-color: blue;
  color: white;
}

.cookie-consent button:last-child {
    margin-left: 0;
    margin-right: 0;
}
@media screen and (max-width: 780px){
  .nav-links{
    display: none;
    flex-direction: column;
    background-color: rgba(85, 85, 195, 0.9);
    position: absolute;
    top: 110px;
    right: 0;
    width: 50%;
    z-index: 1000;
  }
  .nav-links li{
    margin-bottom: 15px;
  }
  .hamburger{
    display: block;
  }
  .nav-links.active{
    display: flex;
  }
}
