
@keyframes wipe{
  0% { transform: translatey(-100px); }
    100% { transform: translatey(0px); }
}
@keyframes slide-in-from-top {
  0% {
    transform: translate(-50%, -100%); /* Start off-screen (y-axis: above viewport, x-axis: -50%) */
  }
  100% {
    transform: translate(-50%, -0%); /* End at correct position (x-axis: -50%, y-axis: -50%) */
  }
}
@keyframes slide-in-from-bottom {
  0% {
    transform: translateY(100%); /* Start off-screen (y-axis: above viewport, x-axis: -50%) */
  }
  100% {
    transform: translateY(0%); /* End at correct position (x-axis: -50%, y-axis: -50%) */
  }
}
header{
  position: fixed;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}
.header, .nav {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(102, 102, 102, 0.5));
    font-family: 'Inter';
    max-width: 1100px;
    width: 100%;
    color: white;
    font-weight: 900;
    text-decoration: none;
    padding: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    top: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 20px;
}
.header.scrolled{
  background-image: linear-gradient(to right, rgb(82, 82, 195), rgb(53, 36, 184));
    color: white;
    padding: 20px;
    font-weight: 900;
    text-decoration: none;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1000;
    transform: translateX(-50%);
    border-radius: 0px;
    max-width: 100%;
    margin: auto;
    animation: slide-in-from-top 0.5s ease-out forwards;
}
.header.scrolled .logo{
  padding-left: 20%;
}
.header.scrolled .nav-links{
  padding-right: 20%;
}
.headerlive{
    background-image: linear-gradient(to right, rgb(82, 82, 195), rgb(53, 36, 184));
    color: white;
    padding: 20px;
    font-weight: 900;
    text-decoration: none;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1000;
    transform: translateX(-50%);
    border-radius: 0px;
    max-width: 100%;
}
.headerlive .logo{
  padding-left: 20%;
}
.headerlive .nav-links{
  padding-right: 20%;
}
.hamburger{
  font-size: 30px;
  margin-right: 50px;
  display: none;
  transition: color, font-size 0.3s ease;
}
.hamburger:hover{
  color:#ffea00;
  font-size: 35px;
}
html, body, header {
  margin: 0;
  padding: 0;
}

.home button {
    font-family: 'Inter';
  background-color: rgb(82 82 195);
    text-decoration: none;
  border-radius: 100px;
  padding:10px;
    border: none;
  color: white;
  transition: background-color, color 0.3s ease;
transition: font-size 0.3s ease
 
}
.home button a{
  text-decoration: none;
  color: inherit;
}
.home h1, #welcome{
  animation: wipe 2s ease-in-out;
}
.home button:hover{
  background-color: #ffea00;
  color: blue;
  font-size: 14px;
  
}
.h1 {
    font-weight: 900;
    font-size: 50px;
}

.Join {
    background-color: rgb(255, 255, 255);
    color: #2f00ff;
    text-decoration: none;
}
#live{
  background-color: #FF4C4C;
  color: white;
  animation: wipe 2s ease-in-out;
}
#live:hover{
  background-color: white;
  color: #FF4C4C;
  font-weight: bolder;
}
.home {
    background-image: url('https://i.ibb.co/DbPbwhG/National-Children-s-Day-Celebration-2024.png');
    background-size: cover;
    background-position: center;
    color: white;
    font-size: large;
    padding-left: 25px;
    padding-top: 300px;
    padding-bottom: 50px;
  text-align: center;
  top: 0;
}
.marqueeback{
  background-color: #ffea00;
}
marquee{
  background-color: #ffea00;
  margin-top: 3px;
  padding: 20px;
  display: flex;
  flex-direction: flex-end;
  width: 70%;
  transform: translateX(50%)
}

.body {
    font-family: 'Inter';
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 0px;
    max-width: 250px;
}


.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    transition: font-size 0.30s ease-in-out;
    position: relative;
}

.nav-links a:hover {
    color: #ffea00;
    font-size: 20px;
    transition: font size 0.30s ease-in-out;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffea00;
    transition: width 0.30s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.Cards {
  background-color: rgb(85, 85, 195);
  background-position: center;
  object-fit: cover;
    width: 400px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  margin-left: 50px;
  box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 90;
  transform: translateY(-5%);
    color: white;
  line-height: 0.7;
  margin-bottom: 30px;
}
.Cards img{
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.Cards-sec{
  display: flex;
  flex-wrap: wrap;
}
.card-link{
  text-align: center;
  text-decoration: none;
  color: white;
  margin: auto;
}
.card-link a{
  text-align: center;
  text-decoration: none;
  color: white;
  margin: auto;
}
.Cards a:hover {
    color: #ffea00;
    font-size: 20px;
    transition: font size 0.30s ease-in-out;
  font-weight: 900;
}

.Cards a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 7px;
    background-color: #ffea00;
    transition: width 0.30s ease;
}

.Cards a:hover::after {
    width: 100%;
}
.VOTD{
  max-width: 1000px;
  margin: auto;
  margin-bottom: 50px;
  background-color: #722f37;
  position: relative;
    overflow: hidden;
    border-radius: 20px;
  box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.3);
    color: white;
  line-height: 1.5;
  padding: 30px;
  text-align: center;
  text-decoration: none;
}
.VOTD a{
  text-decoration: none;
  color: white;
}
#about {
  background-image: url('IMG_3501.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    font-size: large;
    padding-top: 300px;
    text-align: center;
    top: 0;
}
#about a{
  text-decoration: none;
  color: white;
}
.abt-text{
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0,0,0,0.5)50%, rgba(0,0,0,1)100%);
  padding-left:50px;
  padding-right:50px;
  padding-bottom:50px;
}
#about h1{
  font-weight: 900;
}
#countdown {
  background-color: #e0e0e0; /* Light grey background */
  border: 1px solid #ccc; /* Light grey border */
  padding: 20px; /* Space around the text */
  text-align: center; /* Center the text */
  border-radius: 10px; /* Rounded corners */
  font-family: 'Inter';
  width: 50%;
  margin: auto;
  font-size: xxx-large;
  padding: 30px;
  height: auto;
}

.timer-part {
  font-weight: bold; /* Make the text bold */
  color: #333; /* Dark grey text color */
  margin: 0 5px;
  display: inline-flex;
  position: relative;
  padding: 20px;
}
#serve{
  background-color: rgb(41, 41, 145);
  height: 50%;
  max-height: 400px;
  padding: 5px;
  margin-bottom: 200px;
}
.serve-box{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
#serve #serve-title{
  color: white;
  text-align: center;
  font-weight: 900;
}
.serve-card {
  background-color: rgb(85, 85, 195);
  background-position: center;
  object-fit: cover;
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  margin-left: 50px;
  box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 90;
    color: white;
  line-height: 0.7;
  margin-bottom: 100px;
}
.serve-card img{
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.serve-link{
  text-align: center;
  text-decoration: none;
  color: white;
  margin: auto;
}
.serve-link a{
  text-align: center;
  text-decoration: none;
  color: white;
  margin: auto;
}
.serve-card a:hover {
    color: #ffea00;
    font-size: 20px;
    transition: font size 0.30s ease-in-out;
  font-weight: 900;
}

.serve-card a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 7px;
    background-color: #ffea00;
    transition: width 0.30s ease;
}

.serve-card a:hover::after {
    width: 100%;
}
.serve-card {
  transition: transform 1s ease;
}
.serve-card:hover {
  transform: translateY(2%);
  transform: scale(1.07);
}
.footer {
    background-image: linear-gradient(to right, rgb(82, 82, 195), rgb(21, 21, 115));
    color: white;
    font-family: 'Inter';
    padding: 20px;
    text-decoration: none;
    width: auto;
}
.footer .fa{
  font-size: 35px;
  text-decoration: none;
  color: white;
}
.fa-facebook:hover{
  text-align: center;
  color: #316FF6;
}
.fa-instagram:hover{
  color: #fa7e1e;
}
.monththeme {
    font-family: 'Inter';
    font-weight: 900;
    text-align: center;
}

.form-group {
    width: 100%;
    max-width: 600px;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 4px;
}

.form-group input, .form-group textarea {
    width: 500px;
    height: auto;
}

.form-group button {
    padding: 10px 15px;
    background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(53, 36, 184));
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 800;
    font-family: 'Inter';
}
.contactus{
  font-family: 'Inter';
  margin: 50px;
}
.cont-group {
  width: 100%;
  max-width: 600px;
  margin-bottom: 15px;
}

.cont-group label {
  display: block;
  margin-bottom: 4px;
}

.cont-group input, .cont-group textarea {
  width: 500px;
  height: auto;
}

.cont-group button {
  padding: 10px 15px;
  background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(53, 36, 184));
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 800;
  font-family: 'Inter';
}
.month {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}

.Have-a-question {
    font-weight: 800;
}

.location {
    display: flex;
    padding-bottom: 30px;
}

.form-group {
    padding-left: 30px;
}

.form-head {
    padding-left: 30px;
}

.logohalf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
}

.foot-links {
    color: white;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 5px;
}

.foot-links:hover {
    color: #007bff;
}

.socials a {
    margin-right: 10px;
}

.socials a:last-child {
    margin-right: 0;
}

.cookie-consent {
    background-image: linear-gradient(to right, rgb(85, 85, 195), rgb(85, 85, 195));
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    z-index: 2000;
    animation: slide-in-from-bottom 1s ease;
}

.cookie-consent p {
    position: relative;
    z-index: 2;
}

.cookie-consent button {
    background-color: #ffea00;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-family: 'Inter';
    transition: background-color 0.2s ease;
}
.services{
  text-decoration: none;
  line-height:10px;
  text-align:  center;

}
.services p{
  text-align: center;
  font-size: larger;
}
.TOTM{
  line-height:10px;
}
.services h1{
  font-weight: 900;
  text-align: center;
  font-size: 30px
}
.services iframe{
  display: block;
  margin: auto;
  border-radius: 10px;
}
.services hr{
  margin-left: 90px;
  margin-right: 90px;
}
.services #sub{
  text-align: center;
  font-weight: 900;
}
.cookie-consent button:hover {
    background-color: blue;
  color: white;
}
.cookie-consent button:last-child {
    margin-left: 0;
    margin-right: 0;
}
.Sermon {
  width: 100%;
  height: 100%;
  font-weight: 900;
  background-image: url('IMG_3553.jpg');
  background-size:cover;
  background-position: center;
  background-position-y: -270px;
  font-family: 'Inter';
  color: white;
  z-index: 30000;
  background-repeat: no-repeat;
}
#Sermon{
  font-size: 30px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0)0%, rgba(0,0,0,0.5)50%, rgba(0,0,0,1)100%);
  position: relative;
  height: 200px;
  padding-left: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 300px;
}
.Sermon h1{
  position: absolute;
  left: 0;
  padding-left: 15px;
}
.Services{
  width: 100%;
  height: 100%;
  font-weight: 900;
  background-image: url('IMG_9941.jpg');
  background-size:cover;
  background-position: center;
  background-position-y: -270px;
  font-family: 'Inter';
  color: white;
  z-index: 30000;
  background-repeat: no-repeat;
}
#Services{
  font-size: 30px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0)0%, rgba(0,0,0,0.5)50%, rgba(0,0,0,1)100%);
  position: relative;
  height: 200px;
  width: 100%;
  padding-left: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 300px;
}
.Services h1{
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 30px;
}
.events{
  width: 100%;
  font-weight: 900;
  background-image: url('IMG_0807.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -300px;
  background-position:center;
  font-family: 'Inter';
  color: white;
  z-index: 30000;
}
#events{
  font-size: 30px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0)0%, rgba(0,0,0,0.5)50%, rgba(0,0,0,1)100%);
  position: relative;
  height: 200px;
  padding-left: 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
  line-height: 0%;
}
.events h1{
  position: absolute;
  left: 0;
  bottom: 100;
}
.events h2{
  position: absolute;
  left: 0;
  font-weight:300;
  margin-top: 150px;
  line-height: normal;
}
.event {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: transform 0.5s ease; /* Corrected syntax */
}

.event img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-left: 150px;
  border-radius: 20px;
}
#event-info{
  margin-left: 70px;
}
#date{
  font-size: x-large;
  background-color: rgb(236, 236, 236);
  width: fit-content;
  padding: 10px;
  text-align: center;
}
.event h1{
  font-weight:900;
}
.event p{
  font-size: 20px;
}
.event a{
  text-decoration:none;
  color:#333;
  font-weight: bolder;
}
.event:hover {
  color: rgb(82, 82, 195);
  transform: scale(99%);
}
.Contact{
  width: 100%;
  font-weight: 900;
  background-image: url('IMG_0661.jpg');
  background-size: cover;
  background-position-y: 0px;
  background-position-x: center;
  font-family: 'Inter';
  color: white;
  z-index: 30000;
}
#Contact{
  font-size: 30px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0)0%, rgba(0,0,0,0.5)50%, rgba(0,0,0,1)100%);
  position: relative;
  height: 200px;
  padding-left: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 300px;
}
.Contact h1{
  transform: translateX(-200%);
}
.cont{
  margin-left: 105px;
}
.contactus{
  display: flex;
}
#continfo{
  display: inline-flex;
  font-size: xx-large;
}
.Media {
  width: 100%;
  height: 100%;
  font-weight: 900;
  background-image: url('IMG_3539.jpg');
  background-size:cover;
  background-position: center;
  font-family: 'Inter';
  color: white;
  z-index: 30000;
  background-repeat: no-repeat;
}
#Media{
  font-size: 30px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0)0%, rgba(0,0,0,0.5)50%, rgba(0,0,0,1)100%);
  position: relative;
  height: 200px;
  padding-left: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 300px;
}
.Media h1{
  position: absolute;
  left: 0;
  padding-left: 15px;
}
.Music {
  width: 100%;
  height: 100%;
  font-weight: 900;
  background-image: url('IMG_0815.jpg');
  background-size:cover;
  background-position: center;
  font-family: 'Inter';
  color: white;
  z-index: 30000;
  background-repeat: no-repeat;
}
#Music{
  font-size: 30px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0)0%, rgba(0,0,0,0.5)50%, rgba(0,0,0,1)100%);
  position: relative;
  height: 200px;
  padding-left: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 300px;
}
.Music h1{
  position: absolute;
  left: 0;
  padding-left: 15px;
}
.Hosp {
  width: 100%;
  height: 100%;
  font-weight: 900;
  background-image: url('IMG_0975.jpg');
  background-size:cover;
  background-position: center;
  font-family: 'Inter';
  color: white;
  z-index: 30000;
  background-repeat: no-repeat;
}
#Hosp{
  font-size: 30px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0)0%, rgba(0,0,0,0.5)50%, rgba(0,0,0,1)100%);
  position: relative;
  height: 200px;
  padding-left: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 300px;
}
.Hosp h1{
  position: absolute;
  left: 0;
  padding-left: 15px;
}
.Child {
  width: 100%;
  height: 100%;
  font-weight: 900;
  background-image: url('IMG_7955.jpg');
  background-size:cover;
  background-position: center;
  font-family: 'Inter';
  color: white;
  z-index: 30000;
  background-repeat: no-repeat;
}
#Child{
  font-size: 30px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0)0%, rgba(0,0,0,0.5)50%, rgba(0,0,0,1)100%);
  position: relative;
  height: 200px;
  padding-left: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 300px;
}
.Child h1{
  position: absolute;
  left: 0;
  padding-left: 15px;
}
.mediainfo{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 20px;
  margin: auto;
}
.mediainfo img{
  width: 100%;
  height: auto;
  max-width: 600px;
  border-radius: 10px;
}
#media-team h2{
    font-weight: 800;
    font-size: xx-large;
    text-align: center;
}
#media-team p{
  font-size: large;
  padding-left: 20px;
}
.Art {
  width: 100%;
  height: 100%;
  font-weight: 900;
  background-image: url('IMG_0810.jpg');
  background-size:cover;
  background-position: center;
  font-family: 'Inter';
  color: white;
  z-index: 30000;
  background-repeat: no-repeat;
}
#Art{
  font-size: 30px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0)0%, rgba(0,0,0,0.5)50%, rgba(0,0,0,1)100%);
  position: relative;
  height: 200px;
  padding-left: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 300px;
}
.Art h1{
  position: absolute;
  left: 0;
  padding-left: 15px;
}
.videos{
  display: flex;
  flex-wrap: wrap;
}
.videos iframe{
  margin: 30px;
}
.YT {
  background-color: rgb(231, 61, 61);
  background-position: center;
  object-fit: cover;
  width: 560px;
  height: 315px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin-left: 50px;
  box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 90;
  transform: translateY(-5%);
  color: white;
  line-height: 0.7;
  margin-bottom: 30px;
  text-align: center;
  padding: 10px;
  margin: 30px;
}
.YT img{
  display: flex;
  align-items:center;
  width: 150px;
  transform: translateX(130%);
}
.YT svg{
  width: 15px;
  margin-left: 5px;
}
.YT a{
  text-decoration: none;
  color: white;
  text-align: center;
}
#livefeed{
  width: 80%;
  min-height: 500px;
  height: 80vh;
  margin-top: 110px;
}
.live{
  display: flex;
}
.livechat {
  background-color: rgb(255, 255, 255);
  width: 800px;
  height: 80vh;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin: 50px;
  box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transform: translateY(-5%);
  color: rgb(0, 0, 0);
  line-height: 0.7;
  margin-bottom: 30px;
  text-align: center;
  padding: 10px;
  margin-top: 150px;
  font-family: 'Inter';
}
#liveinput{
  display:flex;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  position:absolute;
  margin-bottom: 20px;
}
#liveinput label{
  font-size:10px;
}
#liveinput textarea{
  height: 50px;
  width: 300px;
}
#liveinput svg{
  fill: #ffea00;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  transform: translateX(-40%);
}
#send{
  background-color: rgb(85, 85, 195);
  border-radius: 50%;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 19px;
}
@media screen and (max-width: 780px){
  html{
    flex-direction: column;
    width: 100vw;
  }
  .nav-links{
    display: none;
    flex-direction: column;
    background-color: rgba(85, 85, 195, 0.9);
    position: absolute;
    top: 110px;
    right: 0;
    width: 50%;
    z-index: 1000;
  }
  .nav-links li{
    margin-bottom: 15px;
  }
  .hamburger{
    display: block;
  }
  .nav-links.active{
    display: flex;
  }
  .header, .nav {
    background-image: linear-gradient(to right, rgb(82, 82, 195), rgb(53, 36, 184));
    font-family: 'Inter';
    color: white;
    padding: 20px;
    font-weight: 900;
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
}
  header{
  position: fixed;
  transform: none;
}
.header.scrolled {
    background-image: linear-gradient(to right, rgb(82, 82, 195), rgb(53, 36, 184));
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    transform: none;
    border-radius: 20px;
    animation: none;
  }
.header.scrolled .logo{
  padding-left: 0%;
}
#homelive{
  width:100px;
}
.Services{
  background-position-y:0;
}
.Sermon {
  width: 100%;
  height: 100%;
  font-weight: 900;
  background-image: url('IMG_3553.jpg');
  background-size:cover;
  background-position: center;
  background-position-y: 0;
  font-family: 'Inter';
  color: white;
  z-index: 30000;
  background-repeat: no-repeat;
}
.mediainfo {
  flex-direction: column;
}
.event-details {
  padding-left: 0;
  padding-top: 20px;
}
.mediainfo img {
  max-width: 100%;
}
.home {
  padding-top: 100px; /* Adjust padding to fit the content on smaller screens */
}

.Cards {
  width: 90%;
  margin: auto;
  margin-bottom: 20px; /* Adjust card size and margin */
}

#countdown {
  width: 90%; /* Adjust countdown width */
  font-size: xx-large;
}

/* Adjust VOTD Section */
.VOTD {
  margin-left: 10px;
  margin-right: 10px;
  font-size: medium;
  padding: 20px;
}

/* Adjust Serve Section */
#serve {
  max-height: 300px;
}

.serve-card {
  width: 90%;
  margin: 10px auto;
}
.location {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.event {
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: transform 0.5s ease; /* Corrected syntax */
}

.event img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-left: 150px;
  border-radius: 20px;
}
#event-info{
  margin-left: 70px;
}
#date{
  font-size: x-large;
  background-color: rgb(236, 236, 236);
  width: fit-content;
  padding: 10px;
  text-align: center;
}
.event h1{
  font-weight:900;
}
.event p{
  font-size: 20px;
}
.event a{
  text-decoration:none;
  color:#333;
  font-weight: bolder;
}
.event:hover {
  color: rgb(82, 82, 195);
  transform: scale(99%);
}
.contactus{
  flex-direction: column;
}
.cont-group {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
}

.cont-group label {
  display: block;
  margin-bottom: 4px;
}

.cont-group input, .cont-group textarea {
  width: 300px;
  height: auto;
  margin: auto;
}

.cont-group button {
  padding: 10px 15px;
  background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(53, 36, 184));
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 800;
  font-family: 'Inter';
}
.Cards {
  background-color: rgb(85, 85, 195);
  background-position: center;
  object-fit: cover;
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  margin-left: 50px;
  box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 90;
    color: white;
  line-height: normal;
  margin-bottom: 30px;
  font-size: 15px;
}
.Cards p{
  font-size: 15px;
}
.Cards h1{
  font-size: 15px;
  margin-bottom: 1px;
}
.Cards img{
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.Cards-sec{
  display: flex;
  flex-wrap: wrap;
}
.cookie-consent {
display: none;
}
}
